{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
{% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
          <div class="row">
          <div class="col-lg-6"><canvas class="my-4 w-100" id="received"></canvas></div>
          <div class="col-lg-6"><canvas class="my-4 w-100" id="received_application" ></canvas></div>
         </div>
         <div class="row">
          <div class="col-lg-6"><canvas class="my-4 w-100" id="turnaround_times"></canvas></div>
         </div>
          
        </main>
      </div>
    </div>

  <script>
      var ctx = document.getElementById("received")
      var datasets = []
      {% for name in received %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received[name]['data']['Y']}},
                        borderColor: "{{received[name]['color'][0]}}",
                        backgroundColor: "{{received[name]['color'][1]}}",
                        })
        var labels = {{received[name]['data']['labels']|tojson}}
      {% endfor %}

      var received = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Received samples per month (grouped by priority)'}},
        data: { labels: labels,
                datasets: datasets}
      })
    </script>

      <script>
      var ctx = document.getElementById("received_application")
      var datasets = []
      {% for name in received_application %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received_application[name]['data']['Y']}},
                        borderColor: "{{received_application[name]['color'][0]}}",
                        backgroundColor: "{{received_application[name]['color'][1]}}",
                        })
        var labels = {{received_application[name]['data']['labels']|tojson}}
      {% endfor %}

      var received_application = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Received samples per month (grouped by application)'}},
        data: { labels: labels,
                datasets: datasets}
      })
    </script>

    <script>
      var ctx = document.getElementById("turnaround_times")
      var datasets = []
      {% for name in turnaround_times %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{turnaround_times[name]['data']['Y']}},
                        borderColor: "{{turnaround_times[name]['color'][0]}}",
                        backgroundColor: "{{turnaround_times[name]['color'][1]}}",
                        })
        var labels = {{turnaround_times[name]['data']['labels']|tojson}}
      {% endfor %}

      var turnaround_times = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Time from received to delivered (days)'}},
        data: { labels: labels,
                datasets: datasets}
      })
    </script>

    

    


    {% endblock %}
