{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
{% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
          <div class="row">
          <div class="col-lg-5"><canvas class="my-4 w-100" id="received"></canvas></div>
          <div class="col-lg-5"><canvas class="my-4 w-100" id="received_application" ></canvas></div>
          </div>
          <div class="row">
          <div class="col-lg-5"><canvas class="my-4 w-100" id="received_to_delivered"></canvas></div>
          <div class="col-lg-5"><canvas class="my-4 w-100" id="received_to_prepped"></canvas></div>
         </div>
         <div class="row">
          <div class="col-lg-5"><canvas class="my-4 w-100" id="prepped_to_sequenced"></canvas></div>
          <div class="col-lg-5"><canvas class="my-4 w-100" id="sequenced_to_delivered"></canvas></div>
         </div>
          
        </main>
      </div>
    </div>

  <script>
      var ctx = document.getElementById("received")
      var datasets = []
      {% for name in received %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received[name]['data']['Y']}},
                        borderColor: "{{received[name]['color'][0]}}",
                        backgroundColor: "{{received[name]['color'][1]}}",
                        })
        var labels = {{received[name]['data']['labels']|tojson}}
      {% endfor %}

      var received = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Received samples per month (grouped by priority)'}},
        data: { labels: labels,
                datasets: datasets}
      })


      var ctx = document.getElementById("received_application")
      var datasets = []
      {% for name in received_application %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received_application[name]['data']['Y']}},
                        borderColor: "{{received_application[name]['color'][0]}}",
                        backgroundColor: "{{received_application[name]['color'][1]}}",
                        })
        var labels = {{received_application[name]['data']['labels']|tojson}}
      {% endfor %}

      var received_application = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Received samples per month (grouped by application)'}},
        data: { labels: labels,
                datasets: datasets}
      })


      var ctx = document.getElementById("sequenced_to_delivered")
      var datasets = []
      {% for name in sequenced_to_delivered %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{sequenced_to_delivered[name]['data']['Y']}},
                        borderColor: "{{sequenced_to_delivered[name]['color'][0]}}",
                        backgroundColor: "{{sequenced_to_delivered[name]['color'][1]}}",
                        })
        var labels = {{sequenced_to_delivered[name]['data']['labels']|tojson}}
      {% endfor %}

      var sequenced_to_delivered = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Time from sequenced to delivered (days)'}},
        data: { labels: labels,
                datasets: datasets}
      })

      var ctx = document.getElementById("prepped_to_sequenced")
      var datasets = []
      {% for name in prepped_to_sequenced %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{prepped_to_sequenced[name]['data']['Y']}},
                        borderColor: "{{prepped_to_sequenced[name]['color'][0]}}",
                        backgroundColor: "{{prepped_to_sequenced[name]['color'][1]}}",
                        })
        var labels = {{prepped_to_sequenced[name]['data']['labels']|tojson}}
      {% endfor %}

      var prepped_to_sequenced = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Time from end of prep to sequenced (days)'}},
        data: { labels: labels,
                datasets: datasets}
      })

      var ctx = document.getElementById("received_to_prepped")
      var datasets = []
      {% for name in received_to_prepped %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received_to_prepped[name]['data']['Y']}},
                        borderColor: "{{received_to_prepped[name]['color'][0]}}",
                        backgroundColor: "{{received_to_prepped[name]['color'][1]}}",
                        })
        var labels = {{received_to_prepped[name]['data']['labels']|tojson}}
      {% endfor %}

      var received_to_prepped = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Time from received to end of prep (days)'}},
        data: { labels: labels,
                datasets: datasets}
      })

      var ctx = document.getElementById("received_to_delivered")
      var datasets = []
      {% for name in received_to_delivered %}
        datasets.push({
                        label: "{{name}}", 
                        data: {{received_to_delivered[name]['data']['Y']}},
                        borderColor: "{{received_to_delivered[name]['color'][0]}}",
                        backgroundColor: "{{received_to_delivered[name]['color'][1]}}",
                        })
        var labels = {{received_to_delivered[name]['data']['labels']|tojson}}
      {% endfor %}

      var received_to_delivered = new Chart(ctx, {
        type: 'line',
        options : {title: {display: true, text: 'Time from received to delivered (days)'}},
        data: { labels: labels,
                datasets: datasets}
      })
    </script>

    

    


    {% endblock %}
