{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ header }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <form action="{{ url_for('home.index')}}" method="POST">
                <input type="hidden" name="endpoint" value="{{ endpoint }}">
                {% if years %}
                    <select name="year" class="form-control" required onchange="this.form.submit()">
                        {% for year in years %}
                            <option value={{ year }} {{ 'selected' if year == year_of_interest }}>
                                Year {{ year }} </option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="year" value={{ year }}>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}