{% block content %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            <img itemprop="image" style="width:20%" class="TableObject-item avatar flex-shrink-0" src="https://avatars2.githubusercontent.com/u/6412433?s=200&v=4">
        Vogue
        </a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
</nav>
{% endblock %}
