{% extends 'layout.html' %}
{% block body %}
<header class="container-fluid">
  <div class="row d-none d-md-block bg-light border border-dark">
  <div class="col-xs-7 header-logo"> 
    <a href="https://clinical.scilifelab.se/"><img src="img/clincal_logo.png"></a>
    <h1>Vogue</h1>
  </div>
  </div>
</header>
<div class="container-fluid">
    <div class="row">
    {% include 'navigation.html' %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <h4>Welcome</h4>
  <p>Welcome to Clinical Genomics site for trending. This site aims to capture all kinds of trends 
    going on att Clinical Genomics. Please feel fre to contribute. Visit Vogue 
    on <a href="https://github.com/Clinical-Genomics/vogue" target="_blank" data-v-04c1a7ec="">github</a>.
  </p>
  

  <h4>Feature requests</h4>
  <p>Write your feature request <a href="https://github.com/Clinical-Genomics/vogue/issues/new/choose" target="_blank" data-v-04c1a7ec="">here</a>. 
  </p>
    
  <h4>Contributors</h4>
  <p>We who are working on this project right now are Maya and Hassan, with support from Måns, Kenny, Ciara.</p>
    </main>
    </div>
</div>

  {% endblock %}