{% extends 'layout.html' %}
{% block body %}
<!doctype html>
<html lang="en">

  <body>
      {% include 'header.html' %}

    <div class="container-fluid">
      <div class="row">
          {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome</h1>
          </div>
          <p>Welcome to Clinical Genomics site for trending. This site aims to capture all kinds of trends 
              going on att Clinical Genomics. Please feel fre to contribute. Visit Vogue 
              on <a href="https://github.com/Clinical-Genomics/vogue" target="_blank" data-v-04c1a7ec="">github</a>.
          </p>
          <h4>Feature requests</h4>
          <p>Write your feature request <a href="https://github.com/Clinical-Genomics/vogue/issues/new/choose" target="_blank" data-v-04c1a7ec="">here</a>. 
          </p>
            
          <h4>Contributors</h4>
          <p>We who are working on this project right now are Maya and Hassan, with support from Måns, Kenny, Ciara.</p>

      </div>
    </div>

  </body>
</html>


  {% endblock %}