{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
            <div class="row">
                <div class="col-lg-12">
                    <div id="amount"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="amount_concentration_time"></div>
                </div>
            </div>
        </main>
    </div>
</div>


<script>
    Highcharts.chart('amount', {
        title: {
            text: "{{amount.title}}"
        },
        xAxis: {
            title: { text: {{ amount.axis.x | tojson }}}},
        yAxis: {
            title: { text: {{ amount.axis.y | tojson }}}},
        legend: {
            enabled: false
        },
        plotOptions: {
            scatter: {
                dataLabels: {
                    format: "{point.name}",
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            regression: true,
            regressionSettings: {
                type: 'polynomial',
                color: 'rgba(223, 183, 83, .9)',
                dashStyle: 'dash'
            },
            color: 'rgba(223, 83, 83, .5)',
            type: 'scatter',
            data: {{ amount.data| tojson }},
            marker: {
            radius: 3
        }
    }]
});
</script>



<script>
    var data = []
    {% if amount_concentration_time.group.no_group is defined %}
    var data = {{ amount_concentration_time.group.no_group.data | tojson }}
    {% endif %}

    Highcharts.chart('amount_concentration_time', {
        chart: { type: 'spline' },
        title: { text: '{{amount_concentration_time.title}}'},
        subtitle: { text: '' },
        xAxis: { categories: {{ amount_concentration_time.labels| tojson }}},
        yAxis: { title: { text: {{ amount_concentration_time.axis.y | tojson }}}},
        legend: { enabled: false },
        tooltip: { crosshairs: true, shared: true },
        plotOptions: {
            series: { connectNulls: true },
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: 'Average Concnetration',
            data: data,
            marker: { symbol: 'circle' }}] 
});

</script>
{% endblock %}