{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
            <div class="row">
                <div class="col-lg-12">
                    <div id="microbial_concentration_time"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    var series = []
    {% for group in microbial_concentration_time.group %}
    series.push({
        name: "{{group}}",
        data: {{ microbial_concentration_time.group[group].data | tojson }},
        marker: { symbol: 'circle' },
                
                      })
    {% endfor %}

    Highcharts.chart('microbial_concentration_time', {
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{microbial_concentration_time.title}}'},
        xAxis: {
            categories: {{ microbial_concentration_time.labels| tojson }}},
        yAxis: {
            title: { text: {{ microbial_concentration_time.axis.y | tojson }}}},
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            series: { connectNulls: true },
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: series 
});

</script>
{% endblock %}