{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
            <div class="row">
                <div class="container">
                    <form action="{{ url_for('server.mip_picard' , year=year_of_interest) }}" method="POST">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="X_axis">Select X axis metric:</label>
                                <select id="X_axis" name="X_axis" class="form-control form-control-sm"
                                    placeholder=".form-control-sm" required onchange="this.form.submit()">
                                    <optgroup label="Picard insert size">
                                        {% for metric in PICARD_INSERT_SIZE %}
                                        <option value="{{ metric }}" {{ 'selected' if metric == X_axis }}>
                                            {{ metric.lower().capitalize().replace('_', ' ')}}
                                        </option>
                                        {% endfor %}
                                    <optgroup label="Picard HS metric">
                                        {% for metric in PICARD_HS_METRIC %}
                                        <option value="{{ metric }}" {{ 'selected' if metric == X_axis }}>
                                            {{ metric.lower().capitalize().replace('_', ' ')}}
                                        </option>
                                        {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <label for="Y_axis">Select Y axis metric:</label>
                                <select id="Y_axis" name="Y_axis" class="form-control form-control-sm"
                                    placeholder=".form-control-sm" required onchange="this.form.submit()">
                                    <optgroup label="PICARD_INSERT_SIZE">
                                        {% for metric in PICARD_INSERT_SIZE %}
                                        <option value="{{ metric }}" {{ 'selected' if metric == Y_axis }}>
                                            {{ metric.lower().capitalize().replace('_', ' ')}}
                                        </option>
                                        {% endfor %}
                                    <optgroup label="PICARD_HS_METRIC">
                                        {% for metric in PICARD_HS_METRIC %}
                                        <option value="{{ metric }}" {{ 'selected' if metric == Y_axis }}>
                                            {{ metric.lower().capitalize().replace('_', ' ')}}
                                        </option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div id="picard_plot"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    var data = []
    {% for sample in mip_results.final_data %}
    data.push({ 'x': {{ sample[X_axis]}}, 'y': {{ sample[Y_axis]}}, 'name': {{ sample['_id']| tojson }}})
    {% endfor %}

    Highcharts.chart('picard_plot', {
        chart: { type: 'scatter' },
        title: { text: 'Picard QC' },
        xAxis: { title: { text: "{{X_axis.lower().capitalize().replace('_', ' ')}}" } },
        yAxis: { title: { text: "{{Y_axis.lower().capitalize().replace('_', ' ')}}" } },
        legend: { enabled: false },
        tooltip: {
            formatter: function () {
                var output = ''
                if (this.point.name) {
                    output = output + 'Sample ID: <b>' + this.point.name + '</b> <br>'
                }
                output = output + "{{Y_axis}}" + ': <b>' + this.y + '</b> <br> ' + "{{X_axis}}" + '<b>' + this.x + '</b>'
                return output;
            }
        },
        plotOptions: {
            series: { connectNulls: true },
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            data: data,
            marker: { symbol: 'circle' }
        }]
    });
</script>

{% endblock %}