{% block content %}
<div class="wrapper">

<div class="sidebar">
<nav class="col-md-2 d-none d-md-block bg-light sidebar ">
    <ul class="nav flex-column">
      <br>
      <br>
      <br>
      <br>
      <li class="nav-item dropright">
        <a class="nav-link " href="{{ url_for('server.index') }}">
          <span data-feather="home"></span>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropright">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Common trends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('server.turn_around_times', year=year_of_interest) }}">Turnaround
            Times</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('server.common_samples', year=year_of_interest) }}">Samples</a>
        </div>
      </li>
      <li class="nav-item dropright">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Preps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('server.microbial' , year=year_of_interest) }}">Microbial</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('server.wgs' , year=year_of_interest) }}">WGS Illumina
            PCR-free</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('server.lucigen' , year=year_of_interest) }}">Lucigen PCR-free</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('server.target_enrichment' , year=year_of_interest) }}">Targeted
            enrichment</a>
        </div>
      </li>
      <li class="nav-item dropright ">
        <a class="nav-link" href="#" id="navbarDropdown"  data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sequencing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('server.runs' , year=year_of_interest) }}">Instruments</a>
        </div>
      </li>
      <li class="nav-item dropright">
        <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle">Bioinfo</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item btn-sm dropdown-submenu">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rare Disease</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item btn-sm">
                <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.mip_dna_picard_time' , year=year_of_interest) }}">Picard QC over time</a>
              </li>
              <li class="dropdown-item btn-sm">
                <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.mip_dna_picard' , year=year_of_interest) }}">Picard QC</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item  btn-sm dropdown-submenu">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Cancer</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item btn-sm">
                  <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.balsamic' , year=year_of_interest) }}">Nothing here yet</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-item btn-sm dropdown-submenu">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Microbial</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.microsalt_strain_st' , year=year_of_interest) }}">ST total</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.microsalt_qc_time' , year=year_of_interest) }}">QC over time</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                      <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.microsalt_untyped' , year=year_of_interest) }}">Untyped organisms</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                      <a class="dropdown-toggle-sub-menue" href="{{ url_for('server.microsalt_st_time' , year=year_of_interest) }}">ST over time</a>
                  </li>
                </ul>
              </li>
        </ul>
      </li>
      <li class="nav-item dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Genotypes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item btn-sm" href="{{ url_for('server.genotype_plate') }}">Genotype Plate</a>
          </div>
        </li>
        <li class="nav-item dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Index Performance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item btn-sm" href="{{ url_for('server.reagent_labels', index_category_url='Illumina_IDT_UD') }}">Average</a>
            <a class="dropdown-item btn-sm" href="{{ url_for('server.reagent_label', index_category='Illumina_IDT_UD', reagent_label='G09-UDI0071') }}">Per Index</a>
          </div>
        </li>
    </ul>
  <div class="container sticky-bottom">
      <small>The database is updated every night.</small>
  </div>
</nav>
</div>
</div>
{% endblock %}
