{% block content %}
<div class="wrapper">

<div class="sidebar">
<nav class="col-md-2 d-none d-md-block bg-light sidebar ">
    <ul class="nav flex-column">
      <br>
      <br>
      <br>
      <br>
      <li class="nav-item dropright">
        <a class="nav-link " href="{{ url_for('home.home') }}">
          <span data-feather="home"></span>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropright">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Common trends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('common_trends.turn_around_times', year=year_of_interest) }}">Turnaround
            Times</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('common_trends.common_samples', year=year_of_interest) }}">Samples</a>
        </div>
      </li>
      <li class="nav-item dropright">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Preps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('prepps.microbial' , year=year_of_interest) }}">Microbial</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('prepps.wgs' , year=year_of_interest) }}">WGS Illumina
            PCR-free</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('prepps.lucigen' , year=year_of_interest) }}">Lucigen PCR-free</a>
          <a class="dropdown-item btn-sm" href="{{ url_for('prepps.target_enrichment' , year=year_of_interest) }}">Targeted
            enrichment</a>
        </div>
      </li>
      <li class="nav-item dropright ">
        <a class="nav-link" href="#" id="navbarDropdown"  data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sequencing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="{{ url_for('sequencing.runs' , year=year_of_interest) }}">Instruments</a>
        </div>
      </li>
      <li class="nav-item dropright">
        <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle">Bioinfo</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item btn-sm dropdown-submenu">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">WGS, WES, TGA</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item btn-sm">
                <a class="dropdown-toggle-sub-menue" href="{{ url_for('qc.qc_dna_picard_time' , year=year_of_interest) }}">QC over time</a>
              </li>
            </ul>
          </li>
            <li class="dropdown-item btn-sm dropdown-submenu">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Microbial</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('micro.strain_st' , year=year_of_interest) }}">ST total</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('micro.qc_time' , year=year_of_interest) }}">QC over time</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                      <a class="dropdown-toggle-sub-menue" href="{{ url_for('micro.untyped' , year=year_of_interest) }}">Untyped organisms</a>
                  </li>
                  <li class="dropdown-item btn-sm">
                      <a class="dropdown-toggle-sub-menue" href="{{ url_for('micro.st_time' , year=year_of_interest) }}">ST over time</a>
                  </li>
                </ul>
              </li>
            <li class="dropdown-item btn-sm dropdown-submenu">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Covid</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('covid.microsalt_qc_time' , year=year_of_interest) }}">QC over time - Box plot</a>
                  </li>
                    <li class="dropdown-item btn-sm">
                    <a class="dropdown-toggle-sub-menue" href="{{ url_for('covid.qc_scatter' , year=year_of_interest) }}">QC over time - Scatter plot</a>
                  </li>
                </ul>
              </li>
        </ul>
      </li>
      <li class="nav-item dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Genotypes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item btn-sm" href="{{ url_for('genotype.genotype_plate') }}">Genotype Plate</a>
          </div>
        </li>
        <li class="nav-item dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Index Performance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item btn-sm" href="{{ url_for('index.reagent_labels', index_category_url='Illumina_IDT_UD') }}">Average</a>
            <a class="dropdown-item btn-sm" href="{{ url_for('index.reagent_label', index_category='Illumina_IDT_UD', reagent_label='G09-UDI0071') }}">Per Index</a>
          </div>
        </li>
    </ul>
  <div class="container sticky-bottom">
      <small>The database is updated every night.</small>
  </div>
</nav>
</div>
</div>
{% endblock %}
