{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
            <div class="col-lg-12" id="received"></div>
            <div class="col-lg-12" id="received_application"></div>
        </main>
    </div>
</div>



<script>
    var series = []
    {% for group in data_prio %}
    series.push({
        name: "{{group}}",
        data: {{ data_prio[group].data | tojson }},
        color: "{{data_prio[group].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{data_prio[group].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received', {
        chart: { type: 'areaspline' },
        title: { text: {{ plot_prio.title | tojson }} },
        xAxis: { categories: {{ plot_prio.labels| tojson }}},
        yAxis: { title: { text: {{ plot_prio.axis.y | tojson }} } },
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

    var series = []
    {% for group in data_cat %}
    series.push({
        name: "{{group}}",
        data: {{ data_cat[group].data | tojson }},
        color: "{{data_cat[group].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{data_cat[group].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received_application', {
        chart: { type: 'areaspline' },
        title: { text: {{ plot_cat.title | tojson }} },
        xAxis: { categories: {{ plot_cat.labels| tojson }}},
        yAxis: { title: { text: {{ plot_cat.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

</script>

{% endblock %}