{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'navigation.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% include 'header_section.html' %}
            <div class="row">
                <div class="col-lg-6" , id='received_to_delivered_tag'></div>
                <div class="col-lg-6" , id='received_to_delivered_prio'></div>
            </div>
            <div class="row">
                    <div class="col-lg-6" id="received_to_prepped_tag"></div>
                    <div class="col-lg-6" id="received_to_prepped_prio"></div>
            </div>
            <div class="row">
                    <div class="col-lg-6" id="prepped_to_sequenced_tag"></div>
                    <div class="col-lg-6" id="prepped_to_sequenced_prio"></div>
            </div>
            <div class="row">
                    <div class="col-lg-6" id="sequenced_to_delivered_tag"></div>
                    <div class="col-lg-6" id="sequenced_to_delivered_prio"></div>
            </div>
        </main>
    </div>
</div>

<script>
    var series = []
    {% for name in sequenced_to_delivered.prio.group %}
    series.push({
        name: "{{name}}",
        data: {{ sequenced_to_delivered.prio.group[name].data | tojson }},
        color: "{{sequenced_to_delivered.prio.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{sequenced_to_delivered.prio.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('sequenced_to_delivered_prio', {
        chart: { type: 'areaspline' },
        title: { text: {{ sequenced_to_delivered.prio.title| tojson }}},
        xAxis: { categories: {{ sequenced_to_delivered.prio.labels| tojson }}},
        yAxis: { title: { text: {{ sequenced_to_delivered.prio.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});


    var series = []
    {% for name in prepped_to_sequenced.prio.group %}
    series.push({
        name: "{{name}}",
        data: {{ prepped_to_sequenced.prio.group[name].data | tojson }},
        color: "{{prepped_to_sequenced.prio.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{prepped_to_sequenced.prio.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('prepped_to_sequenced_prio', {
        chart: { type: 'areaspline' },
        title: { text: {{ prepped_to_sequenced.prio.title| tojson }}},
        xAxis: { categories: {{ prepped_to_sequenced.prio.labels| tojson }}},
        yAxis: { title: { text: {{ prepped_to_sequenced.prio.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

    var series = []
    {% for name in received_to_prepped.prio.group %}
    series.push({
        name: "{{name}}",
        data: {{ received_to_prepped.prio.group[name].data | tojson }},
        color: "{{received_to_prepped.prio.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{received_to_prepped.prio.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received_to_prepped_prio', {
        chart: { type: 'areaspline' },
        title: { text: {{ received_to_prepped.prio.title| tojson }}},
        xAxis: { categories: {{ received_to_prepped.prio.labels| tojson }}},
        yAxis: { title: { text: {{ received_to_prepped.prio.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

    var series = []
    {% for name in received_to_delivered.prio.group %}
    series.push({
        name: "{{name}}",
        data: {{ received_to_delivered.prio.group[name].data | tojson }},
        color: "{{received_to_delivered.prio.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{received_to_delivered.prio.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received_to_delivered_prio', {
        chart: { type: 'areaspline' },
        title: { text: {{ received_to_delivered.prio.title| tojson }}},
        xAxis: { categories: {{ received_to_delivered.prio.labels| tojson }}},
        yAxis: { title: { text: {{ received_to_delivered.prio.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});




    var series = []
    {% for name in sequenced_to_delivered.tag.group %}
    series.push({
        name: "{{name}}",
        data: {{ sequenced_to_delivered.tag.group[name].data | tojson }},
        color: "{{sequenced_to_delivered.tag.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{sequenced_to_delivered.tag.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('sequenced_to_delivered_tag', {
        chart: { type: 'areaspline' },
        title: { text: {{ sequenced_to_delivered.tag.title| tojson }}},
        xAxis: { categories: {{ sequenced_to_delivered.tag.labels| tojson }}},
        yAxis: { title: { text: {{ sequenced_to_delivered.tag.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});


    var series = []
    {% for name in prepped_to_sequenced.tag.group %}
    series.push({
        name: "{{name}}",
        data: {{ prepped_to_sequenced.tag.group[name].data | tojson }},
        color: "{{prepped_to_sequenced.tag.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{prepped_to_sequenced.tag.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('prepped_to_sequenced_tag', {
        chart: { type: 'areaspline' },
        title: { text: {{ prepped_to_sequenced.tag.title| tojson }}},
        xAxis: { categories: {{ prepped_to_sequenced.tag.labels| tojson }}},
        yAxis: { title: { text: {{ prepped_to_sequenced.tag.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

    var series = []
    {% for name in received_to_prepped.tag.group %}
    series.push({
        name: "{{name}}",
        data: {{ received_to_prepped.tag.group[name].data | tojson }},
        color: "{{received_to_prepped.tag.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{received_to_prepped.tag.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received_to_prepped_tag', {
        chart: { type: 'areaspline' },
        title: { text: {{ received_to_prepped.tag.title| tojson }}},
        xAxis: { categories: {{ received_to_prepped.tag.labels| tojson }}},
        yAxis: { title: { text: {{ received_to_prepped.tag.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});

    var series = []
    {% for name in received_to_delivered.tag.group %}
    series.push({
        name: "{{name}}",
        data: {{ received_to_delivered.tag.group[name].data | tojson }},
        color: "{{received_to_delivered.tag.group[name].color[0]}}",
        marker: { symbol: 'circle' },
        fillColor: "{{received_to_delivered.tag.group[name].color[1]}}"})
    {% endfor %}

    Highcharts.chart('received_to_delivered_tag', {
        chart: { type: 'areaspline' },
        title: { text: {{ received_to_delivered.tag.title| tojson }}},
        xAxis: { categories: {{ received_to_delivered.tag.labels| tojson }}},
        yAxis: { title: { text: {{ received_to_delivered.tag.axis.y | tojson }}}},
        tooltip: {
            shared: true,
            valueSuffix: ' days'
        },
        series: series});
</script>
{% endblock %}